<% if @current_user %>
<% List.where(user_id: @current_user.id).destroy_all %>
<% Result.where(user_id: @current_user.id).destroy_all %>
<% Partofspeech.where(user_id: @current_user.id).destroy_all %>
<div class="menu">
  <div class="menu_box">
    <h1>Word Test</h1>
    <ul class="btn-field-1">
      <li><%= link_to 'Index', words_path, {class: "btn btn--orange btn--cubic btn--shadow index", onfocus: "this.blur();"} %></li>
    </ul>
    <ul class="btn-field-2">
      <li><%= link_to 'Create', new_word_path, {class: "btn btn--orange btn--cubic btn--shadow create", onfocus: "this.blur();"} %></li>
      <li><%= link_to 'Test', choice_test_words_path, {class: "btn btn--orange btn--cubic btn--shadow test", onfocus: "this.blur();"} %></li>
    </ul>
  </div>
</div>
<% else %>
<div class="menu">
  <div class="menu_box">
    <h1>Word Test</h1>
    <ul class="btn-field-2">
      <li><%= link_to 'Signup', "/signup", {class: "btn btn--orange btn--cubic btn--shadow index", onfocus: "this.blur();"} %></li>
      <li><%= link_to 'Login', "/login", {class: "btn btn--orange btn--cubic btn--shadow create", onfocus: "this.blur();"} %></li>
    </ul>
   </div>
</div>
<% end %>
