<% model_reset %>
<div class="index-area">
<div class="index-header">
<button type="button" class="filter-btn" onfocus="this.blur();" data-toggle="modal" data-target="#modal1">
<span class="fa-stack">
  <i class="far fa-square fa-stack-2x"></i>
  <i class="fas fa-filter fa-stack-1x"></i>
</span>
</button>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">条件検索</div>
            <div class="modal-body">
            <%= form_with url: words_path, method: :get, local: true do |f| %>
              <p><%= f.collection_select :search, Word.with_deleted.where(user_id: @current_user.id).select(:part_of_speech).distinct, :part_of_speech, :part_of_speech, {selected: params[:search], include_blank: '指定なし'} %></p>
              <p>
              <%= f.label :learned_and_forgot, "覚えた単語と覚えていない単語を表示" %>
              <%= f.check_box :learned_and_forgot, {}, true, nil %>
              </p>
              <p>
              <%= f.label :learned, "覚えた単語を表示" %>
              <%= f.check_box :learned, {}, true, nil %>
              </p>
              <p>
              <%= f.label :favorited, "お気に入り" %>
              <%= f.check_box :favorited, {}, true, nil %>
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "絞り込み", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<button type="button" class="filter-btn" onfocus="this.blur();" data-toggle="modal" data-target="#modal3">
<span class="fa-stack">
  <i class="far fa-square fa-stack-2x"></i>
  <i class="far fa-trash-alt fa-stack-1x"></i>
</span>
</button>

<button type="button" class="filter-btn" onfocus="this.blur();" data-toggle="modal" data-target="#modal4">
<span class="fa-stack">
  <i class="far fa-question-circle fa-lg"></i>
</span>
</button>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="m-header">Help</div>      
      <div class="m-body">
          <p>・<i class="fas fa-filter"></i>を押すと単語の条件検索ができます。<p>
          <p>・<i class="far fa-trash-alt"></i>を押すとチェックした単語の一括削除ができます。<p>
          <p>・単語一覧にある単語 or 単語の意味をクリックすると編集ができます。<p>
          <p>・右上にある検索バーに単語 or 単語の意味を入力すると該当する単語を検索することができます。<p>
          <p>・<i class="fas fa-search" style="color: black;"></i>をクリックすると選択した単語をgoogleで検索します。<p>
          <p>・<i class="fas fa-star" style="color: yellow;"></i>：お気に入り状態 , <i class="fas fa-star" style="color: #CCC;"></i>：お気に入り解除状態</p>
        </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="narrow-down-search">
<input type="text" id="search-field" placeholder="search">
<input type="button" value="&#xf002;" id="narrow-down">
</div>
</div>

<%= form_with url: destroy_all_words_path, method: :delete, local: true do |f| %>
<div class="table-area">
<table class="table index_table table-hover">
<thead>
  <tr>
    <th scope="col" class="align-middle" style="width: 5%; text-align: center"><input type="checkbox" name="allchecked" id="all" ></th>
    <th scope="col" class="align-middle"></th>
    <th scope="col" class="align-middle" style="width: 5%;"></th>
    <th scope="col" class="align-middle" style="width: 5%;"></th>
    <th scope="col" class="align-middle" style="width: 5%;"></th>
    <th scope="col" class="align-middle" style="width: 5%;"></th>
    <th scope="col" class="align-middle" style="width: 5%;"></th>
  </tr>
</thead>
  <tbody id="boxes">
    <% @words.each do |word| %>
    <tr style="height: 60px;">
      <td class="align-middle"><%= f.check_box :deletes, { multiple: true }, checked_value = word.id, unchecked_value = nil %></td>
      <td class="align-middle word">
        <p class='word_<%= word.id %>'><%= best_in_place word, :word, :as => :input, :html_attrs => { size: 5 } %></p>
        <p class="word-mean">(<%= word.part_of_speech.slice(0) %>) <span><%= best_in_place word, :meaning, :as => :input, :html_attrs => { size: 15 } %></span></p>
      </td>
      <td class="align-middle"><button  type="button" class="speakbtn_index" value=<%= word.id %> onfocus="this.blur();"><i class="fas fa-volume-up"></i></button></td>
      <% if word.favorite %>
        <td class="align-middle"><div class=<%= word.id %>><i class="fas fa-star yellow"></i></div></td>
      <% else %>
        <td class="align-middle"><div class=<%= word.id %>><i class="fas fa-star clear"></i></div></td>
      <% end %>
      <% if word.deleted_at == nil %>
        <td class="align-middle">
          <%= link_to "/words/#{word.id}/learned", method: :post, class: "forgot_btn" do %>
            <i class="fas fa-check-circle fa-lg" style="color: #C0C0C0"></i>
          <% end %>
        </td>
      <% else %>
        <td class="align-middle">
          <%= link_to "/words/#{word.id}/forgot", method: :post, class: "forgot_btn" do %>
            <i class="fas fa-check-circle fa-lg" style="color: #8EB8FF" ></i>
          <% end %>
        </td>
      <% end %>
      <td class="align-middle hide_btn">
        <%= link_to word_path(id: word.id) , method: :delete, data: {confirm: "本当に削除しますか？"} do %>
          <i class="fas fa-trash-alt" style="color: black;"></i>
        <% end %>
      </td>
      <td class="align-middle hide_btn">
        <a href="https://www.google.com/search?q=<%= word.word %>" target="_blank" rel="noopener noreferrer"><i class="fas fa-search" style="color: black;"></i></a>
      </td>
      <td class="align-middle mix_btn">
        <button type="button" class="filter-btn" onfocus="this.blur();" data-toggle="modal" data-target="#modal_delete_search_<%= word.id %>">
          <i class="fas fa-ellipsis-h" style="color: black"></i>
        </button>
      </td>
      <div class="modal fade modal_delete_search" id="modal_delete_search_<%= word.id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <%= link_to word_path(id: word.id) , method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                <i class="fas fa-trash-alt fa-2x" style="color: black;"></i>
              <% end %>
              <p>/</p>
              <a href="https://www.google.com/search?q=<%= word.word %>" target="_blank" rel="noopener noreferrer"><i class="fas fa-search fa-2x" style="color: black;"></i></a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">チェックしたデータを一括削除しますか？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "OK", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>
<% end %>
</div>
