<div class="text-center">
<main class="form-signin">
<%= form_with model: @user, url: signup_url, local: true do |f| %>
  <h1 class="h3 mb-3 fw-normal">signup</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "Username" %>
  <%= f.text_field :name, :class => 'form-control', :placeholder => "Username", :value => @user.name %>
  <%= f.label :password, "Password", :class => 'visually-hidden' %>
  <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
  <%= f.label :password_confirmation, "Password_Confirmation", :class => 'visually-hidden' %>
  <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Password" %>
  <%= f.submit 'signup', :class => 'btn btn-lg btn-primary' %>
<% end %>
</main>
</div>

